* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --darkgrey: #565656;
  --grey: #7e7e7e;
  --lightgrey: #e5e5e5;
  --background: #f3f3f3;
  --orange: #eda332;
  --blue: #46c1aa;
  --lightblue: #00000009;
  --red: #f25234;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  padding: 0 30px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 200px 550px 1.5fr;
  grid-template-rows: 0.8fr 3fr 0.4fr;
  grid-template-areas:
    "logo nutrition nav"
    "list table table"
    "footer footer footer";
}
/* HELPER */
.background {
  background-color: var(--background);
  border-radius: 19px;
}

/* LOGO */
.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo .img {
}
/* NUTRITION */
.nutrition {
  grid-area: nutrition;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  margin: auto 0;
}
.nutrition .title {
  color: var(--darkgrey);
  margin-top: 15px;
  margin-left: 30px;
  font-size: 1rem;
  font-weight: 500;
}
.value-container {
  display: flex;
  justify-content: space-around;
  margin: 10px 15px;
}
.value-single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  text-align: center;
  border-radius: 15px;
  width: 100px;
  height: 60px;
}
.value-title {
  color: var(--darkgrey);
  font-weight: 300;
}
.value-1 {
  background: var(--orange);
}
.value-2 {
  background: var(--blue);
}
.value-3 {
  background: var(--red);
}
.value-1,
.value-2,
.value-3 {
  color: var(--white);
  border-radius: 5px;
  width: 50%;
  margin: 5px auto 5px auto;
  font-weight: 300;
  font-size: 0.8rem;
}
/* NAV */
.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 2rem;
}
.nav i {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  margin-left: 8px;
}
.nav button {
  color: var(--black);
  background: var(--white);
  width: 100px;
  height: 40px;
  margin: 10px;
  border-radius: 7px;
  border: 2px solid var(--black);
  cursor: pointer;
  transition: all 0.2s linear;
  opacity: 0;
}
.nav button.show{
  opacity: 1;
}
.btn-1:hover {
  color: var(--white);
  background-color: var(--orange);
  border: var(--white);
}
.btn-2:hover {
  color: var(--white);
  background-color: var(--blue);
  border: var(--white);
}
.btn-3:hover {
  color: var(--white);
  background-color: var(--red);
  border: var(--white);
}
/* LIST*/
.selection {
  grid-area: list;
  display: flex;
  flex-direction: column;

  overflow-x: scroll;
}
#meal-type {
  background-color: #f9f9f9;
  color: var(--grey);
  border: 1.5px solid rgba(197, 197, 197, 0.527);
  border-radius: 18px;
  margin: 1.5rem 1rem 0.5rem 1rem;
  height: 40px;
  font-size: 0.7rem;
  font-weight: 200;
  box-shadow: 0px 0px 0.5px 1px rgba(0, 0, 0, 0.082);
}
/* CARD */
.list {
  height: 100%;
}
.list-item {
  background-color: var(--white);
  display: flex;
  height: 90px;
  margin: 1rem;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.192);
  transition: 0.1s all ease-in;
}
.list-item:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.329);
}
.list-item img {
  width: 70%;
  background-position: center;
  object-fit: cover;
}
.drag-icon {
  width: 35px;
  background-color: var(--lightgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.drag-icon i {
  color: rgb(133, 133, 133);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--lightgrey);
}
.content .title {
  font-weight: 300;
  font-size: 0.7rem;
}
.content .calories {
  color: var(--blue);
  font-size: 0.6rem;
  font-weight: 300;
  margin-top: 0.3rem;
}
/* TABLE */
.table {
  width: 100%;
  grid-area: table;
}
.lists {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 25%);
  text-align: center;
  grid-template-areas:
    "mon tues wedn thurs fri sat sun"
    "mon tues wedn thurs fri sat sun"
    "mon tues wedn thurs fri sat sun";
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "mon tues wedn thurs fri sat sun";
  color: var(--orange);
  margin: 20px 0;
  justify-items: center;
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--white);
  width: 100px;
  height: 40px;
}
.day h3 {
  font-weight: 300;
  font-size: 1rem;
}
.list-1 {
  grid-area: mon;
}
.list-2 {
  grid-area: tues;
}
.list-3 {
  grid-area: wedn;
}
.list-4 {
  grid-area: thurs;
}
.list-5 {
  grid-area: fri;
}
.list-6 {
  grid-area: sat;
}
.list-7 {
  grid-area: sun;
}

/* FOOTER */
.footer {
  grid-area: footer;
  display: flex;
  justify-content: end;
  align-items: center;
}
#grocery-btn {
  width: 200px;
  height: 40px;
  margin-right: 2rem;
  border: none;
  border-radius: 10px;
  background: var(--red);
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s ease;
}
#grocery-btn:hover {
  box-shadow: 0px 0px 13px 2.5px rgba(242, 81, 52, 0.76);
  background: #db3c20;
}
